<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Veriy your email</title>
</head>
<body>
<p>
    Dear reader, <br>
    You recently requested to reset you password<br>
    for your Samarthanam Digi Library account.<br>
    You can reset your password by clicking the below link:<br><br>

    <a href="{{forgotPasswordLink}}">Reset your password</a><br><br>

    If you did not make this request,<br>
    please ignore this email or reply to let us know.<br>
    This password reset is only valid for next 60 minutes.

    <br><br>
    Thanks,
    <br><br>
    – The Samarthanam team
</p>
</body>
</html>


