<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Veriy your email</title>
</head>
<body>
<p>
    Dear reader, <br>
    Welcome to Samarthanam-Digi library!<br>
    You registered an account on
    <a href="https://www.samarthanam.org/.">samarthanam.org</a>,
    before being able to use your account you need to verify that this is your email address by clicking here: <br><br>
    <a href="{{verifySignupLink}}"> Verify Email</a>
    <br><br>
    Happy reading!
    <br><br>
    – The Samarthanam team
</p>
</body>
</html>



